<!DOCTYPE html>
<html>
<head>
    <title>PACT</title>
    <link rel="stylesheet" href=
    "{{ url_for('static',filename='css/style.css') }}" type=
    "text/css" media="screen">
</head>
<body>
    <header id="main-header">
        <div class="container">
		<h1></h1>
        </div>
    </header>
    <nav id="navbar">
        <div class="container">
            <ul>
                <li>
                    <a href="#main">Use PACT</a>
                </li>
                <li>
                    <a href="#showcase">About</a>
                </li>
                <li>
                    <a href="#main-footer">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <section id="showcase">
        <div class="container">
            <h3>PACT is a computational pipeline for prediction of amyloid cross-interactions.</h3>
        </div>
    </section>
    <div class="container">
        <section id="main">
		<!-- MAIN CONTENT GOES HERE -->
        </section>
        <aside id="sidebar">
            <h3>Guide:</h3>
	    PATH takes as an input csv file with the folowing columns:
	    interactor,seq1,interactee,seq2
	    Where interactor and interactee are the names, and seq1 and seq2
	    are sequences of interacting proteins in fasta format
        </aside>
    </div>
    <footer id="main-footer">
        <h5>Copyright © 2021 Authors. All Rights Reserved.</h5>
	<h5>Authors:  Jakub Wojciechowski <sup>1</sup>, Witold Szczurek <sup>2</sup>
    </footer>
    <script src=
    "{{url_for('static',filename='js/script.js')}}"></script></small>
</body>
</html>
